body {
    background-color: rgba(253, 181, 215, 0.829);
}

#div-1 {
    border: 1px solid rgb(0, 153, 255);
    box-sizing: border-box;
    background-color: rgba(253, 181, 215, 0.829);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}

#sign-in {
       text-align: right;
}

#sign-in li {
    display: inline;
    padding: 15px;
    border: 1px solid rgb(0, 153, 255);
    box-sizing: border-box;
    background-color: pink;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}
#sign-in li a {
    color: rgb(0, 153, 255);
    text-decoration: none;
}

#navbar-main {
    border: 1px solid rgb(0, 153, 255);
    border-radius: 10px;
    background-color: rgba(253, 181, 215, 0.829);
    color: rgb(0, 153, 255);
    text-align: left;
    list-style: none;
    margin-left: 0px;
    width: 10%;
}

#navbar-main li {
    border: 1px solid rgb(0, 153, 255);
    box-sizing: border-box;
    background-color: pink;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
 }

 #navbar-main li a {
    font-style: italic;
    text-decoration: none;
    color: rgb(0, 153, 255);
 }

main {
    text-align: center;
    background-color: rgba(253, 181, 215, 0.829);
    border: 1px solid rgb(0, 153, 255);
    border-radius: 10px;
}

/* .link-page {
    color: rgb(0, 153, 255);
    text-decoration: none;
} */

 .zero-header {
    margin: 0px;
 }

 #header-1 {
    text-align: center;
    background-color: rgba(253, 181, 215, 0.829);
    border: 1px solid rgb(0, 153, 255);
    border-radius: 10px;
 }

 #postings {
    font-size: 100px;
    color: rgb(0, 153, 255);
    font-style: italic;
 }

 #footer-1 {
    text-align: center;
    background-color: rgba(253, 181, 215, 0.829);
    border: 1px solid rgb(0, 153, 255);
    border-radius: 10px;
 }